<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="conditions (conditions)">
    <th:block th:if="${!conditions.isEmpty()}">
        <table class="condition" cellpadding="0" cellspacing="0">
            <tr>
                <th>Complaint</th>
                <th>Status</th>
                <th>Certainty</th>
                <th>Severity</th>
                <th>Onset</th>
            </tr>

            <th:block th:each="condition: ${conditions}">
                <th:block th:object="${condition}">
                    <tr>
                        <td th:text="*{getCode().getCoding().get(0).getDisplaySimple()}"></td>
                        <td th:text="*{getStatusSimple()}"></td>
                        <td th:text="*{getCertainty()}?*{getCertainty().getCoding().get(0).getDisplaySimple()}"></td>
                        <td th:text="*{getSeverity()}?*{getSeverity().getCoding().get(0).getDisplaySimple()}"></td>
                        <td fhir:onset="*{getOnset()}"></td>
                    </tr>
                </th:block>
            </th:block>
        </table>
    </th:block>
</th:block>

</body>
</html>