<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="composition (resource)">
      <div th:object="${resource}">
            <div th:if="*{getEncounter().getDisplaySimple()}" >
                  <table border="1">
                        <thead>
                              <td>Date</td>
                        </thead>
                        <tr>
                              <td th:text="*{getDateSimple().toHumanDisplay()}"></td>
                        </tr>
                  </table>
            </div>
      </div>
</div>
</body>
</html>