<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="conditions (conditions)">
    <div th:each="condition: ${conditions}">
        <div th:object="${condition}">
            <table border="1">
                <thead>
                <td th:text="*{getCategory()}?*{getCategory().getCoding().get(0).getDisplaySimple()}:'Display'"></td>
                <td>Status</td>
                <td>Certainty</td>
                <td>Severity</td>
                <td>Onset</td>
                </thead>
                <tr>
                    <td th:text="*{getCode().getCoding().get(0).getDisplaySimple()}"></td>
                    <td th:text="*{getStatusSimple()}"></td>
                    <td th:text="*{getCertainty()}?*{getCertainty().getCoding().get(0).getDisplaySimple()}"></td>
                    <td th:text="*{getSeverity()}?*{getSeverity().getCoding().get(0).getDisplaySimple()}"></td>
                    <td fhir:onset="*{getOnset()}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>