<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="encounterBundleData (bundleData)">
    <div th:include="fragments/composition :: compositions (${bundleData.getCompositions()})"></div>
    <div th:include="fragments/encounter :: encounters (${bundleData.getEncounters()})"></div>
    <div th:include="fragments/condition :: conditions (${bundleData.getConditions()})"></div>
    <div th:include="fragments/observation :: observations (${bundleData.getObservations()})"></div>
</div>
</body>
</html>