<th:block th:fragment="encounters (encounters)">
    <th:block th:each="encounter: ${encounters}">
        <th:block th:object="${encounter}">
            <div class="div-resource-container">
                <span class="span-exp-col">+</span>
                <span class="div-resource-head">Encounter Details</span>

                <div class="div-resource-content">
                    <table cellpadding="0" cellspacing="0">
                        <th:block th:if="*{getClass_().getCode()} != null">
                            <tr>
                                <td class="bolder-text">Visit Type</td>
                                <td th:text="*{getClass_().getCode()}"></td>
                            </tr>
                        </th:block>
                        <th:block th:with="types=*{getType()}">
                            <th:block th:unless="${#lists.isEmpty(types)}">
                                <tr>
                                    <td class="bolder-text">Encounter Type</td>
                                    <td th:each="type: ${types}">
                                        <div th:text="${type.getText()}"></div>
                                    </td>
                                </tr>
                            </th:block>
                        </th:block>
                        <th:block th:if="*{getServiceProvider()} != null">
                            <th:block th:if="*{getServiceProvider().getReference()} != null">
                                <tr>
                                    <td class="bolder-text">Facility</td>
                                    <td>
                                        <a data-class="external-ref" data-ref-element-class="serviceProvider"
                                           th:href="*{getServiceProvider().getReference()}">Click here to view
                                            Provider
                                            Facility</a>

                                        <div class="serviceProvider"></div>
                                    </td>
                                </tr>
                            </th:block>
                        </th:block>
                        <th:block th:with="participants=*{getParticipant()}">
                            <th:block th:unless="${#lists.isEmpty(participants)}">
                                <tr>
                                    <td class="bolder-text">Providers</td>
                                    <td>
                                        <th:block th:each="participant: ${participants}">
                                            <th:block th:if="${participant.getIndividual()} != null">
                                                <a data-class="external-ref" data-ref-element-class="provider"
                                                   th:href="${participant.getIndividual().getReference()}">Click
                                                    here to view
                                                    Provider</a>
                                                <span class="provider"></span>
                                                <span>|</span>
                                            </th:block>
                                        </th:block>
                                    </td>
                                </tr>
                            </th:block>
                        </th:block>
                    </table>
                </div>
            </div>
        </th:block>
    </th:block>

</th:block>
