<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="encounterBundleData (bundleData)">
    <th:block th:include="fragments/composition :: compositions (${bundleData.getCompositions()})"></th:block>
    <th:block th:include="fragments/encounter :: encounters (${bundleData.getEncounters()})"></th:block>
    <th:block th:include="fragments/condition :: conditions (${bundleData.getConditions()})"></th:block>
    <th:block th:include="fragments/observation :: observations (${bundleData.getObservations()})"></th:block>
</th:block>
</body>
</html>