<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="encounterBundle (bundle)">
    <div th:each="resource: ${bundle.getResources()}">
        <div th:switch="${resource.getResourceType().getPath()}">
            <div th:case="composition"><div th:include="fragments/composition ::composition (${resource})"></div></div>
            <div th:case="encounter"><div th:include="fragments/encounter ::encounter (${resource})"></div></div>
            <div th:case="condition"><div th:include="fragments/condition ::condition (${resource})"></div></div>
            <!--<div th:case="medicationprescription"><div th:include="fragments/medicationPrescription ::medicationPrescription (${resource})"></div></div>-->
            <!--<div th:case="*"><div th:include="fragments/resource ::resource (${resource})"></div></div>-->
        </div>

    </div>
</div>
</body>
</html>