<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="familyHistories (familyHistories)">
    <th:block th:each="familyHistory,currentItem: ${familyHistories}">

        <th:block th:object="${familyHistory}">
            <th:block th:with="relations=*{getRelation()}">
                <th:block th:unless="${#lists.isEmpty(relations)}">
                    <div class="div-family-history">
                        <p th:text="'Relation '+${currentItem.count}" class="family-history-head"></p>

                        <p class="family-history-subhead">Relationship Details</p>
                        <table class="table-relationship-details" cellpadding="0" cellspacing="0">
                            <thead>
                                <th class="col-relationship-details">Relation</th>
                                <th class="col-relationship-details">Name of relation</th>
                                <th class="col-relationship-details">Born</th>
                                <th class="col-relationship-details">Deceased</th>
                                <th class="col-relationship-details">Note</th>
                            </thead>
                            <tbody>
                                <td class="col-relationship-details" fhir:type="*{getRelation().get(0).getRelationship()}"></td>
                                <td class="col-relationship-details" fhir:type="*{getRelation().get(0).getName()}"></td>
                                <td class="col-relationship-details" fhir:type="*{getRelation().get(0).getBorn()}"></td>
                                <td class="col-relationship-details" fhir:type="*{getRelation().get(0).getDeceased()}"></td>
                                <td class="col-relationship-details" fhir:type="*{getRelation().get(0).getNote()}"></td>
                            </tbody>
                        </table>

                        <th:block th:with="relationConditions=*{getRelation().get(0).getCondition()}">
                            <th:block th:unless="${#lists.isEmpty(relationConditions)}">
                                <p class="family-history-subhead">Condition</p>
                                <table class="table-relationship-condition" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <th class="col-relationship-condition">Diagnosis</th>
                                        <th class="col-relationship-condition">Outcome</th>
                                        <th class="col-relationship-condition">Onset</th>
                                        <th class="col-relationship-condition">Note</th>
                                    </thead>
                                    <tbody>
                                        <td class="col-relationship-condition" fhir:type="${relationConditions.get(0).getType()}"></td>
                                        <td class="col-relationship-condition" fhir:type="${relationConditions.get(0).getOutcome()}"></td>
                                        <td class="col-relationship-condition" fhir:type="${relationConditions.get(0).getOnset()}"></td>
                                        <td class="col-relationship-condition" fhir:type="${relationConditions.get(0).getNote()}"></td>
                                    </tbody>
                                </table>
                            </th:block>
                        </th:block>
                    </div>
                </th:block>
            </th:block>
        </th:block>
    </th:block>
</th:block>
</body>
</html>