<th:block th:fragment="medicationRequests (medicationRequests)">
    <th:block th:unless="${#lists.isEmpty(medicationRequests)}">
        <div class="div-resource-container">
            <span class="span-exp-col">+</span>
            <span class="div-resource-head">Medication Order</span>

            <div class="div-resource-content">
                <th:block th:each="medicationRequest: ${medicationRequests}">
                    <th:block th:object="${medicationRequest}">
                        <table cellpadding="0" cellspacing="0">
                            <th:block th:if="*{getRequester()} != null">
                                <tr>
                                    <td class="bolder-text">Prescriber</td>
                                    <td>
                                        <a data-class="external-ref" data-ref-element-class="provider"
                                           th:href="*{getRequester().getAgent()}">Click here to view
                                            Prescriber</a>

                                        <div class="provider"></div>
                                    </td>
                                </tr>
                            </th:block>
                            <th:block th:if="*{getReasonCodeFirstRep().getCodingFirstRep().getDisplay()} != null">
                                <tr>
                                    <td class="bolder-text">Reason</td>
                                    <td fhir:type="*{getReasonCodeFirstRep().getCodingFirstRep().getDisplay()}"></td>
                                </tr>
                            </th:block>
                            <th:block th:if="*{getMedication()} != null">
                                <tr>
                                    <td class="bolder-text">Medication</td>
                                    <td fhir:type="*{getMedication()}"></td>
                                </tr>
                            </th:block>
                            <th:block th:with="dosageInstructions=*{getDosageInstruction()}">
                                <th:block th:unless="${#lists.isEmpty(dosageInstructions)}">
                                    <tr>
                                        <td class="bolder-text">Dosage</td>
                                        <td th:each="dosageInstruction: ${dosageInstructions}">
                                            <th:block th:if="${dosageInstruction.getTiming()} != null">
                                                <span><strong>Timing:-</strong></span>
                                                <span fhir:type="${dosageInstruction.getTiming()}"></span>
                                            </th:block>
                                            <th:block th:if="${dosageInstruction.getRoute()} != null">
                                                <span>&nbsp;|&nbsp;</span>
                                                <span><strong>Route:-</strong></span>
                                                <span fhir:type="${dosageInstruction.getRoute()}"></span>
                                            </th:block>
                                                <th:block th:if="${dosageInstruction.getDose()} != null">
                                                <span>&nbsp;|&nbsp;</span>
                                                <span><strong>Dose:-</strong></span>
                                                <span fhir:type="${dosageInstruction.getDose()}"></span>
                                            </th:block>
                                        </td>
                                    </tr>
                                </th:block>
                            </th:block>
                        </table>
                    </th:block>
                </th:block>
            </div>
        </div>
    </th:block>
</th:block>
