<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="medicationPrescription (resource)">
    <div th:object="${resource}">
        <table border="1">
            <thead>
            <td>Prescriber</td>
            <td>Reason</td>
            <td>Medication</td>
            <td>Dosage</td>
            </thead>
            <tr>
                <td th:text="*{getPrescriber().getDisplaySimple()}"></td>
                <td th:text="*{getReason()}"></td>
                <td th:text="*{getMedication().getDisplaySimple()}"></td>
                <td th:each="dosageInstruction: *{getDosageInstruction()}">
                    <p th:text="${dosageInstruction.getTiming()}"></p>
                    <p th:text="${dosageInstruction.getAsNeeded()}"></p>
                    <p th:text="${dosageInstruction.getSite()}"></p>
                    <p th:text="${dosageInstruction.getRoute()}"></p>
                    <p th:text="${dosageInstruction.getMethod()}"></p>
                    <p th:text="${dosageInstruction.getDoseQuantity()}"></p>
                    <p th:text="${dosageInstruction.getRate()}"></p>
                    <p th:text="${dosageInstruction.getMaxDosePerPeriod()}"></p>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>