<th:block th:fragment="procedures (procedures)">
    <th:block th:each="procedure,currentItem: ${procedures}">
        <th:block th:object="${procedure}">
            <div class="div-resource-container">
                <span class="span-exp-col">+</span>
                <span class="div-resource-head">Procedure</span>

                <div class="div-resource-content">
                    <table cellpadding="0" cellspacing="0">
                        <th:block th:if="${procedure.getPerformed()} != null">
                            <tr>
                                <td class="bolder-text">Date</td>
                                <td fhir:type="${procedure.getPerformed()}"></td>
                            </tr>
                        </th:block>
                        <tr>
                            <td class="bolder-text">Procedure</td>
                            <td fhir:type="${procedure.getType()}"></td>
                        </tr>
                        <th:block th:if="${procedure.getOutcome()} != null">
                            <tr>
                                <td class="bolder-text">Outcome</td>
                                <td fhir:type="${procedure.getOutcome()}"></td>
                            </tr>
                        </th:block>
                        <th:block th:if="${procedure.getFollowUp()} != null">
                            <tr>
                                <td class="bolder-text">Follow up</td>
                                <td fhir:type="${procedure.getFollowUp()}"></td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </th:block>
    </th:block>
</th:block>