<th:block th:fragment="procedures (shrProcedures)">
    <th:block th:each="shrProcedure: ${shrProcedures}">
        <th:block th:object="${shrProcedure}">
            <div class="div-resource-container">
                <span class="span-exp-col">+</span>
                <span class="div-resource-head">Procedure</span>

                <div class="div-resource-content" border="1px solid">
                    <p class="subhead">Procedure</p>
                    <table cellpadding="0" cellspacing="0">
                        <th:block th:if="${shrProcedure.getDate()} != null">
                            <tr>
                                <td class="bolder-text">Date</td>
                                <td fhir:type="${shrProcedure.getDate()}"></td>
                            </tr>
                        </th:block>
                        <tr>
                            <td class="bolder-text">Procedure</td>
                            <td fhir:type="${shrProcedure.getType()}"></td>
                        </tr>
                        <th:block th:if="${shrProcedure.getOutcome()} != null">
                            <tr>
                                <td class="bolder-text">Outcome</td>
                                <td fhir:type="${shrProcedure.getOutcome()}"></td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(shrProcedure.getFollowUp())}">
                            <tr>
                                <td class="bolder-text">Follow up</td>
                                <td fhir:type="${shrProcedure.getFollowUp()}"></td>
                            </tr>
                        </th:block>
                    </table>
                    <th:block th:unless="${#lists.isEmpty(shrProcedure.getProcedureReports())}">
                        <th:block th:each="report,currentItem: ${shrProcedure.getProcedureReports()}">
                            <div class="div-resource-container">
                                <span class="span-exp-col">+</span>
                                <span th:text="'Report '+${currentItem.count}"></span>

                                <div class="div-resource-content">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="bolder-text">Diagnostic Test</td>
                                            <td fhir:type="${report.getTest()}"></td>
                                        </tr>
                                        <tr>
                                            <td class="bolder-text">Provider</td>
                                            <td>
                                                <th:block th:if="${report.getProviderReference()} != null">
                                                    <a data-class="external-ref" data-ref-element-class="provider"
                                                       th:href="${report.getProviderReference()}">Click
                                                        here to view
                                                        Provider</a>
                                                    <span class="provider"></span>
                                                </th:block>
                                            </td>
                                        </tr>
                                        <th:block th:unless="${#lists.isEmpty(report.getResults())}">
                                            <tr>
                                                <td class="bolder-text">Result</td>
                                                <td fhir:type="${report.getResults()}"></td>
                                            </tr>
                                        </th:block>
                                    </table>
                                    <th:block th:each="shrObservation,noteItem: ${report.getResultNotes()}">
                                        <p class="subhead" th:text="'ResultNote '+${noteItem.count}"></p>
                                        <table cellpadding="0" cellspacing="0" class="table-observation">
                                            <th:block
                                                    th:include="fragments/observation :: observationsRec (${shrObservation})"></th:block>
                                        </table>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>

                    </th:block>
                </div>
            </div>
        </th:block>
    </th:block>
</th:block>