<th:block th:fragment="testResults (testResults)">
    <th:block th:each="testResult: ${testResults}">
        <th:block th:object="${testResult}">
            <div class="div-resource-container">
                <span class="span-exp-col">+</span>
                <span class="div-resource-head">Test Result</span>

                <div class="div-resource-content">
                    <p class="subhead">Test</p>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="bolder-text">Type</td>
                            <td fhir:type="${testResult.getType()}"></td>
                        </tr>
                        <tr>
                            <td class="bolder-text">Name</td>
                            <td fhir:type="${testResult.getName()}"></td>
                        </tr>
                        <tr>
                            <td class="bolder-text">Performer</td>
                                <td>
                                    <th:block th:if="${testResult.getPerformer()} != null">
                                        <a data-class="external-ref" data-ref-element-class="Performer"
                                           th:href="${testResult.getPerformer().getReference()}">Click here to view Performer</a>
                                        <span class="Performer"></span>
                                    </th:block>
                                </td>
                        </tr>
                    </table>
                    <p class="subhead">Results</p>
                    <th:block th:each="shrObservation: ${testResult.getResults()}">
                        <table cellpadding="0" cellspacing="0" class="table-observation">
                            <th:block
                                    th:include="fragments/observation :: observationsRec (${shrObservation})"></th:block>
                        </table>
                    </th:block>
                </div>
            </div>
        </th:block>
    </th:block>
</th:block>