<th:block th:fragment="testOrders (testOrders)">
    <th:block th:each="testOrder,currentItem: ${testOrders}">
        <th:block th:object="${testOrder}">
            <div class="div-resource-container">
                <span class="span-exp-col">+</span>
                <span class="div-resource-head">Test Order</span>
                <div class="div-resource-content">
                    <p th:text="'Test Order '+${currentItem.count} " class="diagnostic-orders-subhead"></p>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="bolder-text">Test</td>
                            <td fhir:type="${testOrder.getItem()}"></td>
                        </tr>
                        <th:block th:if="${testOrder.getSample()} != null">
                            <tr>
                                <td class="bolder-text">Sample</td>
                                <td fhir:type="${testOrder.getSample().getType()}"></td>
                            </tr>
                        </th:block>
                        <th:block th:if="${testOrder.getOrderer()} != null">
                            <tr>
                                <td class="bolder-text">Orderer</td>
                                <td>
                                    <a data-class="external-ref" data-ref-element-class="provider"
                                       th:href="${testOrder.getOrderer().getReference()}">Click here to
                                        view orderer</a>

                                    <div class="provider"></div>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </th:block>
    </th:block>
</th:block>