body{
    margin:0px;
    padding:0px;
    font-family:verdana, sans-serif;
    font-size:16px;
    color:#4d4d4d;
}
.logout{
    text-align:center;
    font-size:14px;
    border-radius:10px;
    width:100px;
    position:fixed;
    right:50px;
    background:#cccccc;
}
.healthrecord{
    width: 1000px;
    margin: 0px auto;
    margin-bottom: 100px;
    border-bottom: 2px solid;
}
.patientid{
    font-size:32px;
    margin-bottom:30px;
    font-weight:normal;
}
.patientDetails{
    margin:3% 0% 4% 0%;
    font-size:18px;
}
.block .patient-block{
    margin:0px 0px 20px;
}
.date{
    background:#029590;
    padding:3px 15px;
    color:#fff;
    font-size:14px;
    margin-bottom:10px;
}

.patient-block-header{
    background:#029590;
    padding:3px 15px;
    color:#fff;
    font-size:18px;
}

.date .patient-block-header{
    display:inline-block;
    margin-left:20px;
}

.healthrecord table{
    min-width:950px;
    margin:25px 10px 10px;
    overflow:hidden;
}

.healthrecord table td{
    color:#797979;
    font-size:14px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.healthrecord table td{
    padding:2px 10px;
    text-align: left;
}

.healthrecord table tr td{
    border:1px solid;
}

.table-observation .level0 td{
    font-size:15px;
}

.table-observation tbody tr.level0 td:first-child{
    padding-left: 10px;
}

.table-observation tbody tr.level1 td:first-child{
    padding-left: 20px;
}

.table-observation tbody tr.level2 td:first-child{
    padding-left: 30px;
}

.table-observation tbody tr.level3 td:first-child{
    padding-left: 40px;
}

.table-observation tbody tr.level4 td:first-child{
    padding-left: 50px;
}

.table-observation tbody tr:first-child td{
    padding-top:20px;
}
.table-observation > tbody:first-of-type tr:first-child td{
    padding-top:8px;
}

.div-member-family-history{
    max-width:1000px;
    border:2px solid #cecece;
    margin:1% 1% 1% 1%
}

.family-history-head, .subhead{
    font-weight:bold;
    padding-left:2%;
}

.family-history-head{
    font-size : 16px;
}

.subhead{
    font-size : 14px;
    text-align : center;
    background : #D8D8D8
}

.div-resource-content{
    display:none;
    padding-left:15px;
}

.div-resource-container{
    padding-bottom:1%;
}

.span-exp-col{
    cursor:pointer;
    border: 1px solid;
    font-size: 13px;
    padding: 0px 2px 0px 2px;
    text-align:center;
    width:15px;
    display:inline-block;
}

table .bolder-text{
    font-weight : bolder;
    width:30%;
}
