<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>


<div th:fragment="encounter(encounter)">
    <p>ENCOUNTER</p>
    <p th:text="${encounter.getResourceType().getPath()}"></p>
    <p th:text="${encounter}"></p>
    <div th:object="${encounter}">
        <div th:text="STATUS"></div>
        <div th:text="*{getStatusSimple()}"></div>
    </div>
</div>

</body>
</html>