<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/scripts/jquery-2.1.3.min.js" />
    <script src="/scripts/external-ref.js" />
</head>
<body>
    <p>
        Patient : <a th:href="${encounterBundles.get(0).getResources().get(0).getSubject().getReferenceSimple()}"
                     th:text="${encounterBundles.get(0).getResources().get(0).getSubject().getDisplaySimple()}"></a>
    </p>
   <div th:each="bundle: ${encounterBundles}">
        <div th:include="fragments/encounterBundle ::encounterBundle (${bundle})"></div>
       <hr/>
   </div>

    <script type="application/javascript">
        $( document ).ready(function() {
            $("a[data-class='external-ref']").click(fetchExternal);
        });
    </script>

</body>
</html>