<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Journal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/scripts/jquery-2.1.3.min.js"/>
    <script src="/scripts/external-ref.js"/>
    <script src="/scripts/resource-toggle.js"/>
</head>
<body>

<a th:href="@{/logout}">
    <button class="logout">Logout</button>
</a>

<th:block th:if="${patient}">
    <div class="healthrecord">
        <div class="patientDetails">
            <section class="patient-block">
                <div class="patient-block-header">Patient Details</div>
                <table th:object="${patient}">
                    <tr>
                        <td class="bolder-text">HealthId</td>
                        <td th:text="*{getHealthId()}"></td>
                    </tr>
                    <tr>
                        <td class="bolder-text">Name</td>
                        <td th:text="*{getName()}"></td>
                    </tr>
                    <tr>
                        <td class="bolder-text">Gender</td>
                        <td th:text="*{getGender()}"></td>
                    </tr>
                </table>
            </section>
        </div>
        <section class="block" th:each="bundleData: ${encounterBundlesData}">
            <th:block th:include="fragments/encounterBundle ::encounterBundleData (${bundleData})"/>
        </section>
    </div>
</th:block>
<th:block th:unless="${patient}">
    Invalid Patient
</th:block>


<script type="application/javascript">
    $(document).ready(function () {
        $("a[data-class='external-ref']").click(fetchExternal);
        $(".span-exp-col").click(toggleResourceContents);
    });
</script>

</body>
</html>